<div ng-app="nomenclator">
	<div ng-controller="NomenclatorController">	
			
		<div snap-drawer="right">
			<nav>
				<h3 class="topcoat-list__header">Vocabulary</h3>
				<ul class="vocabulary-entries">
					<li class="topcoat-list__item" ng-repeat="word in words" ng-click="word.expanded = !word.expanded">
						<ul class="word-details">
							<li>
								<span class="word-expansion">
									&nbsp;&nbsp;
									<i class="expansion {{ word.expanded }}"></i>
									<span
										class="token"
										editable-text="word.token"
										e-form="textBtnForm"
										onaftersave="updateDefinition(word)">
										{{ word.token }}
									</span>
								</span>
								&nbsp;&nbsp;
								<button
									class="edit"
									ng-click="textBtnForm.$show()"
									ng-hide="textBtnForm.$visible"></button>
								&nbsp;&nbsp;
								<i class="delete" ng-click="deleteWord(word)"></i>
							</li>
							<li>
								<ul>
									<li>{{ word.expanded ? word.lemma : null }}</li>
									<li>{{ word.expanded ? word.form : null }}</li>
									<li>{{ word.expanded ? word.lemmaDefinition : null }}</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				
				<form name="addVocabularyListEntryForm">
					<input
						ng-model="newToken"
						type="text"
						class="topcoat-text-input"
						id="newTokenInput"
						placeholder="Click a word or type here">
					<button
						class="topcoat-button"
						ng-click="addWord()"
						id="newFormSubmit">
						Add
					</button>
				</form>
		
				<button
					class="topcoat-button"
					ng-click="getDefinitions()">
					Fetch Definitions
				</button>
				
			</nav>			
		</div>
			
			
		<div class="main-content group" snap-content>
		
			<div class="topcoat-navigation-bar">
	      <div class="topcoat-navigation-bar__item left quarter">
	      </div>
			
	    	<div class="topcoat-navigation-bar__item center half">
	      	<h1 class="topcoat-navigation-bar__title">Nomenclator</h1>
	      </div>
			
	      <div class="topcoat-navigation-bar__item right quarter">
					<a
						snap-toggle="right"
						id="slide-menu-button"
						class="topcoat-icon-button--quiet slide-menu-button">
						<span class="topcoat-icon topcoat-icon--menu-stack"></span>
					</a>
	    	</div>
			</div>


			<article class="text" ng-click="addClickedWord($event)">
				<h2>Catullus 51</h2>
				<p>
					 <span>Ille</span> <span>mi</span> <span>par</span> <span>esse</span> <span>deo</span> <span>videtur</span>,<br>
					 <span>ille</span>, <span>si</span> <span>fas</span> <span>est</span>, <span>superare</span> <span>divos</span><br>
					 <span>qui</span> <span>sedens</span> <span>adversus</span> <span>identidem</span> <span>te</span><br>
					 <span>spectat</span> <span>et</span> <span>audit</span>
				</p>

				<p>
					 <span>dulce</span> <span>ridentem</span>, <span>misero</span> <span>quod</span> <span>omnis</span><br>
					 <span>eripit</span> <span>sensus</span> <span>mihi</span>: <span>nam</span> <span>simul</span> <span>te</span>,<br>
					 <span>Lesbia</span>, <span>adspexi</span>, <span>nihil</span> <span>est</span> <span>super</span> <span>mi</span><br>
					 <span>deest</span>
				</p>

				<p>
					 <span>lingua</span> <span>sed</span> <span>torpet</span>, <span>tenuis</span> <span>sub</span> <span>artus</span><br>
					 <span>flamma</span> <span>demanat</span>, <span>sonitu</span> <span>suopte</span><br>
					 <span>tintinant</span> <span>aures</span>, <span>gemina</span> <span>teguntur</span><br>
					 <span>lumina</span> <span>nocte</span>.
				</p>

				<p>
					 <span>otium</span>, <span>Catulle</span>, <span>tibi</span> <span>molestum</span> <span>est</span>:<br>
					 <span>otio</span> <span>exsultas</span> <span>nimiumque</span> <span>gestis</span>.<br>
					 <span>otium</span> <span>et</span> <span>reges</span> <span>prius</span> <span>et</span> <span>beatas</span><br>
					 <span>perdidit</span> <span>urbes</span>.
				</p>
			</article>
		</div>

	</div>
</div>