<h2>
	Books In <%= @prose_work.title.titleize %>, by <%= link_to @prose_work.author.name.titleize, author_url(@prose_work.author) %>
</h2>

<div class="topcoat-list">
	<ul class="topcoat-list__container texts-list">
		<% @prose_books.each do |prose_book| %>
		<li class="topcoat-list__item">
			<%= link_to "#{prose_book.number}. #{prose_book.title}", prose_book_url(prose_book) %>
		</li>
		<% end %>
	</ul>
	
</div>