<h2>
	Authors
</h2>

<div class="topcoat-list">
	<ul class="topcoat-list__container texts-list">
		<% @authors.each do |author| %>
		<li class="topcoat-list__item">
			<%= link_to author.name.titleize, author_url(author) %>
		</li>
		<% end %>
	</ul>
</div>