<h2>
	Works By <%= @author.name.capitalize %>
</h2>

<div class="topcoat-list">
	<ul class="topcoat-list__container texts-list">
		<% @prose_works.each do |prose_work| %>
		<li class="topcoat-list__item">
			<%= link_to prose_work.title, prose_work_url(prose_work) %>
		</li>
		<% end %>
	</ul>

</div>