			<div class="topcoat-navigation-bar">			
	    	<a href="<%= root_path %>">
					<div class="topcoat-navigation-bar__item center full">
		      	<h1 class="topcoat-navigation-bar__title">Nomenclator</h1>
		      </div>
				</a>
			</div>

<div class="topcoat-list">
  <h3 class="topcoat-list__header">Texts</h3>
  <ul class="topcoat-list__container texts-list">
    <a href="<%= catullus_texts_path %>">
			<li class="topcoat-list__item">Catullus 51</li>
		</a>
    <a href="<%= vergil_texts_path %>">
			<li class="topcoat-list__item">Vergil&nbsp;<i>Aeneid</i>&nbsp;I.1-22</li>
		</a>
		<a href="<%= vf_texts_path %>">
	    <li class="topcoat-list__item">Valerius Flaccus <i>Argonauticon</i> IV.626-702</li>
		</a>
  </ul>
</div>