<h2>Vergil <i>Aeneid</i> I.1-22</h2>

<p>
	<span>Arma</span> <span>virumque</span> <span>cano</span>, <span>Troiae</span> <span>qui</span> <span>primus</span> <span>ab</span> <span>oris</span><br>
  <span>Italiam</span>, <span>fato</span> <span>profugus</span>, <span>Laviniaque</span> <span>venit</span><br>
  <span>litora</span>, <span>multum</span> <span>ille</span> <span>et</span> <span>terris</span> <span>iactatus</span> <span>et</span> <span>alto</span><br>
  <span>vi</span> <span>superum</span> <span>saevae</span> <span>memorem</span> <span>Iunonis</span> <span>ob</span> <span>iram</span>;<br>
  <span>multa</span> <span>quoque</span> <span>et</span> <span>bello</span> <span>passus</span>, <span>dum</span> <span>conderet</span> <span>urbem</span>,<br>
  <span>inferretque</span> <span>deos</span> <span>Latio</span>, <span>genus</span> <span>unde</span> <span>Latinum</span>,<br>
  <span>Albanique</span> <span>patres</span>, <span>atque</span> <span>altae</span> <span>moenia</span> <span>Romae</span>.	 
</p>
<p>
  <span>Musa</span>, <span>mihi</span> <span>causas</span> <span>memora</span>, <span>quo</span> <span>numine</span> <span>laeso</span>,<br>
  <span>quidve</span> <span>dolens</span>, <span>regina</span> <span>deum</span> <span>tot</span> <span>volvere</span> <span>casus</span><br>
  <span>insignem</span> <span>pietate</span> <span>virum</span>, <span>tot</span> <span>adire</span> <span>labores</span><br>
  <span>impulerit</span>. <span>Tantaene</span> <span>animis</span> <span>caelestibus</span> <span>irae</span>?	 
</p>
<p>
  <span>Urbs</span> <span>antiqua</span> <span>fuit</span>, <span>Tyrii</span> <span>tenuere</span> <span>coloni</span>,<br>
  <span>Karthago</span>, <span>Italiam</span> <span>contra</span> <span>Tiberinaque</span> <span>longe</span><br>
  <span>ostia</span>, <span>dives</span> <span>opum</span> <span>studiisque</span> <span>asperrima</span> <span>belli</span>;<br>
  <span>quam</span> <span>Iuno</span> <span>fertur</span> <span>terris</span> <span>magis</span> <span>omnibus</span> <span>unam</span><br>
  <span>posthabita</span> <span>coluisse</span> <span>Samo</span>; <span>hic</span> <span>illius</span> <span>arma</span>,<br>
  <span>hic</span> <span>currus</span> <span>fuit</span>; <span>hoc</span> <span>regnum</span> <span>dea</span> <span>gentibus</span> <span>esse</span>,<br>
  <span>si</span> <span>qua</span> <span>fata</span> <span>sinant</span>, <span>iam</span> <span>tum</span> <span>tenditque</span> <span>fovetque</span>.<br>
  <span>Progeniem</span> <span>sed</span> <span>enim</span> <span>Troiano</span> <span>a</span> <span>sanguine</span> <span>duci</span><br>
  <span>audierat</span>, <span>Tyrias</span> <span>olim</span> <span>quae</span> <span>verteret</span> <span>arces</span>;<br>
  <span>hinc</span> <span>populum</span> <span>late</span> <span>regem</span> <span>belloque</span> <span>superbum</span><br>
  <span>venturum</span> <span>excidio</span> <span>Libyae</span>: <span>sic</span> <span>volvere</span> <span>Parcas</span>.	 
</p>