<h2>Valerius Flaccus <i>Argonauticon</i> IV.626--702-</h2>

<p>
	ll. 626-629<br>
<span>Tum</span> <span>subita</span> <span>resides</span> <span>socios</span> <span>formidine</span> <span>Iason</span><br>
<span>praecipitat</span> <span>rumpitque</span> <span>moras</span> <span>tempusque</span> <span>timendi</span>.<br>
<span>ipse</span> <span>viros</span> <span>gradiens</span> <span>ad</span> <span>primi</span> <span>litoris</span> <span>undam</span><br>
<span>prosequitur</span> <span>Phincus</span>. <span>'quaenam</span> <span>tibi</span> <span>praemia</span>' <span>dixit</span>,<br>
</p>

<p>
ll. 630-634<br>
<span>'quas</span>, <span>decus</span> <span>o</span> <span>Boreae</span>, <span>possem</span> <span>persolvere</span> <span>grates</span>?<br>
<span>me</span> <span>Pangaea</span> <span>super</span> <span>rursus</span> <span>iuga</span> <span>meque</span> <span>paterna</span><br>
<span>stare</span> <span>Tyro</span> <span>dulcesque</span> <span>iterum</span> <span>mihi</span> <span>surgere</span> <span>soles</span><br>
<span>nunc</span> <span>reor</span>. <span>exactae</span> <span>(verumne?</span>) <span>abiere</span> <span>volucres</span>,<br>
<span>nec</span> <span>metuam</span>, <span>tutaeque</span> <span>dapes</span>? <span>date</span> <span>tangere</span> <span>vultus</span>,<br>
</p>

<p>
ll. 635-639<br>
<span>dem</span> <span>sinite</span> <span>amplexus</span>, <span>propiusque</span> <span>accedite</span> <span>dextrae.</span>'<br>
<span>dixerat</span>. <span>abscedunt</span> <span>terris</span> <span>et</span> <span>litora</span> <span>condunt</span>.<br>
<span>Omnibus</span> <span>extemplo</span> <span>saeva</span> <span>sub</span> <span>imagine</span> <span>rupes</span><br>
<span>Cyaneae</span> <span>propiorque</span> <span>labor</span>. <span>quando</span> <span>adfore</span> <span>quaque</span><br>
<span>parte</span> <span>putent</span>? <span>stant</span> <span>ora</span> <span>metu</span> <span>nec</span> <span>fessa</span> <span>recedunt</span><br>
</p>

<p>
ll. 640-644<br>
<span>Iumina</span> <span>diversas</span> <span>circum</span> <span>servantibus</span> <span>undas</span>,<br>
<span>cum</span> <span>procul</span> <span>auditi</span> <span>sonitus</span> <span>insanaque</span> <span>saxa</span>,<br>
<span>saxa</span> <span>neque</span> <span>illa</span> <span>viris</span> <span>sed</span> <span>praecipitata</span> <span>profundo</span><br>
<span>siderei</span> <span>pars</span> <span>visa</span> <span>poli</span>. <span>dumque</span> <span>ocius</span> <span>instant</span>,<br>
<span>ferre</span> <span>fugam</span> <span>maria</span> <span>ante</span> <span>ratem</span>, <span>maria</span> <span>ipsa</span> <span>repente</span><br>
</p>

<p>
ll. 645-649<br>
<span>deficere</span> <span>adversosque</span> <span>vident</span> <span>discedere</span> <span>montes</span>,<br>
<span>omnibus</span> <span>et</span> <span>gelida</span> <span>rapti</span> <span>formidine</span> <span>remi</span>.<br>
<span>ipse</span> <span>per</span> <span>arma</span> <span>volans</span> <span>et</span> <span>per</span> <span>iuga</span> <span>summa</span> <span>carinae</span><br>
<span>hortatur</span> <span>supplexque</span> <span>manus</span> <span>intendit</span> <span>Iason</span><br>
<span>nomine</span> <span>quemque</span> <span>premens</span>. <span>'ubi</span> <span>nunc</span> <span>promissa</span> <span>superba</span>
<br>
</p>

<p>
ll. 650-654<br>
<span>ingentesque</span> <span>minae</span>, <span>mecum</span> <span>quibus</span> <span>ista</span> <span>secuti</span>?<br>
<span>idem</span> <span>Amyci</span> <span>certe</span> <span>viso</span> <span>timor</span> <span>omnibus</span> <span>antro</span>,
<br>
<span>perculerat</span>; <span>stetimus</span> <span>tamen</span> <span>et</span> <span>deus</span> <span>adfuit</span> <span>ausis</span>.<br>
<span>quin</span> <span>iterum</span> <span>idem</span> <span>aderit</span>, <span>credo</span>, <span>deus.</span>' <span>haec</span> <span>ubi</span> <span>fatus</span>,<br>
<span>corripit</span> <span>abiecti</span> <span>remumque</span> <span>locumque</span> <span>Phaleri</span><br>
</p>

<p>
ll. 655-659<br>
<span>et</span> <span>trahit</span>; <span>insequitur</span> <span>flammata</span> <span>pudore</span> <span>iuventus</span>.<br>
<span>unda</span> <span>laborantes</span> <span>praeceps</span> <span>rotat</span> <span>ac</span> <span>fuga</span> <span>ponti</span><br>
<span>obvia</span>; <span>miscentur</span> <span>rupes</span>, <span>iamque</span> <span>aequore</span> <span>toto</span><br>
<span>Cyaneae</span> <span>iuga</span> <span>praecipites</span> <span>inlisa</span> <span>remittunt</span>.<br>
<span>bis</span> <span>fragor</span> <span>infestas</span> <span>cautes</span> <span>adversaque</span> <span>saxis</span><br>
</p>

<p>
ll. 660-664<br>
<span>saxa</span> <span>dedit</span>, <span>flamma</span> <span>expresso</span> <span>bis</span> <span>fulsit</span> <span>in</span> <span>imbri</span>.<br>
<span>sic</span> <span>ubi</span> <span>multifidus</span> <span>ruptis</span> <span>e</span> <span>nubibus</span> <span>horror</span><br>
<span>effugit</span> <span>et</span> <span>tenebras</span> <span>nimbosque</span> <span>intermicat</span> <span>ignis</span><br>
<span>terrificique</span> <span>ruunt</span> <span>tonitrus</span> <span>elisaque</span> <span>noctem</span><br>
<span>lux</span> <span>dirimit</span>, <span>pavor</span> <span>ora</span> <span>virum</span>, <span>pavor</span> <span>occupat</span> <span>aures</span>:<br>
</p>

<p>
ll. 665-669<br>
<span>haud</span> <span>secus</span> <span>implevit</span> <span>pontum</span> <span>fragor</span>; <span>effluit</span> <span>imber</span><br>
<span>spumeus</span> <span>et</span> <span>magno</span> <span>puppem</span> <span>procul</span> <span>aequore</span> <span>vestit</span>.<br>
<span>Advertere</span> <span>dei</span> <span>defixaque</span> <span>numina</span> <span>ponto</span>,<br>
<span>quid</span> <span>scopulis</span> <span>praeclusa</span> <span>ratis</span>, <span>quid</span> <span>dura</span> <span>iuventus</span><br>
<span>expediat</span>; <span>pendet</span> <span>magnis</span> <span>favor</span> <span>ortus</span> <span>ab</span> <span>ausis</span>.<br>
</p>

<p>
ll. 670-674<br>
<span>prima</span> <span>coruscanti</span> <span>signum</span> <span>dedit</span> <span>aegide</span> <span>virgo</span><br>
<span>fulmineam</span> <span>iaculata</span> <span>facem</span>. <span>vixdum</span> <span>ardua</span> <span>cautes</span><br>
<span>cesserat</span>, <span>illa</span> <span>volans</span> <span>tenui</span> <span>per</span> <span>concita</span> <span>saxa</span><br>
<span>luce</span> <span>fugit</span>; <span>rediere</span> <span>viris</span> <span>animique</span> <span>manusque</span>,<br>
<span>ut</span> <span>videre</span> <span>viam</span>: <span>'sequor</span>, <span>o</span> <span>quicumque</span> <span>deorum</span>'<br>
</p>

<p>
ll. 675-679<br>
<span>Aesonides</span> <span>'vel</span> <span>fallis</span>' <span>ait</span>, <span>praecepsque</span> <span>fragores</span><br>
<span>per</span> <span>medios</span> <span>ruit</span> <span>et</span> <span>fumo</span> <span>se</span> <span>condidit</span> <span>atro</span>.<br>
<span>coeperat</span> <span>hinc</span> <span>cedens</span> <span>abductis</span> <span>montibus</span> <span>unda</span><br>
<span>ferre</span> <span>ratem</span> <span>pelagoque</span> <span>dies</span> <span>occurrere</span> <span>aperto</span>.<br>
<span>sed</span> <span>neque</span> <span>permissis</span> <span>iam</span> <span>fundere</span> <span>rector</span> <span>habenis</span>
<br>
</p>

<p>
ll. 680-684<br>
<span>vela</span>, <span>nec</span> <span>eniti</span> <span>remis</span> <span>pote</span>, <span>cum</span> <span>super</span> <span>adsunt</span><br>
<span>Cyaneae</span>. <span>premit</span> <span>umbra</span> <span>ratem</span>, <span>scopulique</span> <span>feruntur</span><br>
<span>comminus</span>. <span>hic</span> <span>Iuno</span> <span>praecepsque</span> <span>ex</span> <span>aethere</span> <span>Pallas</span><br>
<span>insiliunt</span> <span>pariter</span> <span>scopulos</span>: <span>hunc</span> <span>nata</span> <span>coercet</span>,<br>
<span>hunc</span> <span>coniunx</span> <span>Iovis</span>; <span>ut</span> <span>valido</span> <span>qui</span> <span>robore</span> <span>tauros</span><br>
</p>

<p>
ll. 685-689<br>
<span>sub</span> <span>iuga</span> <span>et</span> <span>invito</span> <span>detorquet</span> <span>in</span> <span>ilia</span> <span>cornu</span>.<br>
<span>inde</span>, <span>velut</span> <span>mixtis</span> <span>Vulcanius</span> <span>ardor</span> <span>harenis</span><br>
<span>verset</span> <span>aquas</span>, <span>sic</span> <span>ima</span> <span>fremunt</span>, <span>fluctuque</span> <span>coacto</span><br>
<span>angitur</span> <span>et</span> <span>clausum</span> <span>scopulos</span> <span>super</span> <span>effluit</span> <span>aequor</span>.<br>
<span>contra</span> <span>omnes</span> <span>validis</span> <span>tenui</span> <span>discrimine</span> <span>remis</span><br>
</p>

<p>
ll. 690-694<br>
<span>pergere</span> <span>iter</span> <span>mediosque</span> <span>ratem</span> <span>transferre</span> <span>per</span> <span>ictus</span>;<br>
<span>saxa</span> <span>sed</span> <span>extremis</span> <span>tamen</span> <span>increpuere</span> <span>corymbis</span>,<br>
<span>parsque</span> <span>(nefas</span>) <span>deprensa</span> <span>iugis</span>; <span>nam</span> <span>cetera</span> <span>caelo</span><br>
<span>debita</span>. <span>conclamant</span> <span>Minyae</span>, <span>latera</span> <span>utraque</span> <span>quippe</span><br>
<span>dissiluisse</span> <span>putant</span>. <span>fugit</span> <span>ipse</span> <span>novissimus</span> <span>ictus</span><br>
</p>

<p>
ll. 695-699<br>
<span>Tiphys</span> <span>et</span> <span>e</span> <span>mediis</span> <span>sequitur</span> <span>freta</span> <span>rapta</span> <span>ruinis</span>;<br>
<span>nec</span> <span>prius</span> <span>obsessum</span> <span>scopulis</span> <span>respexit</span> <span>ad</span> <span>aequor</span><br>
<span>aut</span> <span>sociis</span> <span>temptata</span> <span>quies</span>, <span>nigrantia</span> <span>quam</span> <span>iam</span><br>
<span>litora</span> <span>longinquique</span> <span>exirent</span> <span>flumina</span> <span>Rhebae</span>.<br>
<span>tunc</span> <span>fessas</span> <span>posuere</span> <span>manus</span>, <span>tunc</span> <span>arida</span> <span>anheli</span><br>
</p>

<p>
ll. 700-702<br>
<span>pectora</span>, <span>discussa</span> <span>quales</span> <span>formidine</span> <span>Averni</span><br>
<span>Alcides</span> <span>Theseusque</span> <span>comes</span> <span>pallentia</span> <span>iungunt</span><br>
<span>oscula</span>, <span>vix</span> <span>primis</span> <span>amplexi</span> <span>luminis</span> <span>oris</span>.<br>
</p>